{% extends "generator/layout.html" %}

{% block content %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Felicidades!</strong> Tu Contraseña ha sido generada satisfactoriamente!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="col-md-4 offset-md-4 text-center">
    <div class="card card-body bg-dark text-center text-light my-3">
        <h3>Password Generated</h3>
        <hr> 
        {{ password }}
    </div>
    <a class="btn btn-lg bg-dark text-light" href="{% url 'home' %}">Generar Constraseña</a>
</div>

{% endblock %}